.w-full.max-w-sm.mx-auto.overflow-hidden.bg-white.rounded-lg.shadow-md
  .px-6.py-6
    %h2.mt-3.text-xl.font-medium.text-center.text-brandGrayDark Edit Profile

    = render 'devise/shared/error_messages', resource: resource

    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      .w-full.mt-4
        %label.label{ for: 'avatar' }
          Avatar
        = f.file_field :avatar, class: 'input-file'
      .w-full.mt-4
        %label.label{ for: 'name' }
          Name
        = f.text_field :name, autocomplete: 'name', placeholder: 'Your Name', "aria-label": 'Your Name', class: 'input'
      .flex.items-center.justify-center.mt-4
        = f.submit 'Save', class: 'submit'
