.w-full.max-w-sm.mx-auto.overflow-hidden.bg-white.rounded-lg.shadow-md
  .px-6.py-6
    %h2.mt-3.text-xl.font-medium.text-center.text-gray-600 Edit Profile

    = render 'devise/shared/error_messages', resource: resource

    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      .w-full.mt-4
        %label{ for: 'avatar', class: 'block text-sm text-gray-500' }
          Avatar
        = f.file_field :avatar, class: 'block w-full px-3 py-2 mt-2 text-sm text-gray-600 bg-white border border-gray-200 rounded-lg file:bg-gray-200 file:text-gray-700 file:text-sm file:px-4 file:py-1 file:border-none file:rounded-full placeholder-gray-400/70 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40'
      .w-full.mt-4
        %label{ for: 'name', class: 'block text-sm text-gray-500' }
          Name
        = f.text_field :name, autocomplete: 'name', placeholder: 'Your Name', "aria-label": 'Your Name', class: 'block mt-2 w-full placeholder-gray-400/70 rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-gray-700 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40'
      .flex.items-center.justify-center.mt-4
        = f.submit 'Save', class: 'px-6 py-2 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-500 rounded-lg hover:bg-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50'
