.bg-white.shadow-lg.rounded-lg.max-w-xl.container.p-0.relative.z-2.overflow-hidden
  = image_tag(@task.thumbnail, alt: '', class: 'w-full aspect-[3/1] object-cover') if @task.thumbnail&.attached?
  .p-6.flex.flex-col.gap-5
    .flex.justify-between
      .flex.gap-1.items-center.py-1.px-3.border.rounded-full.text-gray-500.w-fit.text-xs
        Board:
        = link_to @board.name, board_path(@board.id), class: 'hover:text-blue-500'
      - if user_signed_in? && @task.user == current_user
        .ml-auto
          = render 'commons/dropdown_actions',
                   edit_path: edit_board_task_path(@board, @task),
                   delete_path: board_task_path(@board, @task)
    .flex.flex-col.gap-1
      - if @task.due_date
        .text-gray-500.text-xs
          締切：
          = @task.due_date
      %h2.font-bold.text-lg= @task.name
    .text-gray-500= @task.description
