.px-3.py-3.rounded-lg.shadow-md.bg-brandGrayLight.relative.md:px-5.md:py-5
  = link_to '', board_path(board), class: 'absolute inset-0' if local_assigns.fetch(:show_read_more, true)
  .flex.items-center.justify-between.gap-3
    %p.text-xl.font-bold.text-brandBlack= board.name
    - if user_signed_in? && board.user == current_user
      = render 'commons/dropdown_actions',
               edit_path: edit_board_path(board),
               delete_path: board_path(board)
  %p.mt-1.text-brandGrayDark= board.description
  .flex.gap-2.items-center.justify-between.mt-6
    .flex.items-center.gap-2
      = image_tag board.user.avatar_image, class: 'flex-shrink-0 size-8 rounded-full'
      %p.font-bold.text-brandBlack= board.user.name
