.w-full.max-w-sm.mx-auto.overflow-hidden.bg-white.rounded-lg.shadow-md
  .px-6.py-4
    %h3.mt-3.text-xl.font-medium.text-center.text-brandGray Sign in

    %p.mt-1.text-center.text-brandGray

    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .w-full.mt-4
        = f.email_field :email, autofocus: true, autocomplete: 'email', placeholder: 'Email Address', "aria-label": 'Email Address', class: 'block w-full px-4 py-2 mt-2 text-brandBlack placeholder-brandGray bg-white border border-brandGrayLight rounded-lg focus:border-brandGray focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-brandGray'

      .w-full.mt-4
        = f.password_field :password, autocomplete: 'current-password', placeholder: 'Password', "aria-label": 'Password', class: 'block w-full px-4 py-2 mt-2 text-brandBlack placeholder-brandGray bg-white border border-brandGrayLight rounded-lg focus:border-brandGray focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-brandGray'

      .text-center.mt-4
        = f.submit 'Sign In', class: 'px-6 py-2 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-brandBlack rounded-lg hover:bg-brandGray focus:outline-none focus:ring focus:ring-brandGray focus:ring-opacity-50'

  .flex.items-center.justify-center.py-4.text-center.bg-brandGrayLight.border-t.border-brandGrayLight
    %span.text-sm.text-brandGray Don't have an account?
    = link_to 'Register', new_registration_path(resource_name), class: 'mx-2 text-sm font-bold text-brandBlack hover:underline'
