.w-full.max-w-sm.mx-auto.overflow-hidden.bg-white.rounded-lg.shadow-md
  .px-6.py-4
    %h3.mt-3.text-xl.font-medium.text-center.text-brandGrayDark Sign in

    %p.mt-1.text-center.text-brandGrayDark

    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .w-full.mt-4
        = f.email_field :email, autofocus: true, autocomplete: 'email', placeholder: 'Email Address', "aria-label": 'Email Address', class: 'input'

      .w-full.mt-4
        = f.password_field :password, autocomplete: 'current-password', placeholder: 'Password', "aria-label": 'Password', class: 'input'

      .text-center.mt-4
        = f.submit 'Sign In', class: 'submit'

  .flex.items-center.justify-center.py-4.text-center.bg-brandGrayLight.border-t.border-brandGrayLight
    %span.text-sm.text-brandGrayDark Don't have an account?
    = link_to 'Register', new_registration_path(resource_name), class: 'mx-2 text-sm text-link hover:underline'
